<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.3" targetFramework="net452" />
  <package id="Barings.Controls.WPF" version="0.5.0" targetFramework="net452" />
  <package id="Extended.Wpf.Toolkit" version="3.0" targetFramework="net452" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net452" />
</packages>